.yandex{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-image: url('../../assets/img/wooden.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}