.week-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    padding: 0.5rem;
    box-shadow: inset 0 0 20px #fff;

    &-checked{
        background: rgba(255, 255, 255, 0.637);
    }

    &__wrapper-day{
        display: flex;
        flex-direction: column;
        align-items: center;
        &_name-week{
            font-weight: 600;
            font-size: 1.2rem;
        }
    }
    &__wrapper-icon{
        &_icon{
            width: 2rem;
            height: 2rem;
        }
    }
    &__wrapper-temp{
        display: flex;
        &_max{
            padding: 0.25rem;
            font-weight: 500;
        }
        &_min{
            padding: 0.25rem;
            color: rgb(80, 80, 80);
        }
    }
}