.cloudness-day{
    display: block;
    &__wrapper-cloud{
        padding-left: 48px;
        display: flex;
        justify-content: space-between;
        position: relative;
        bottom: 12px;
        left: 6px;
    }
}